<footer class="footer bg-dark py-3 mt-auto text-center text-light">
  <div class="container">
    <p class="mb-0">
      Copyright &copy; 2025
      <span class="fw-bold text-muted">Recipe Nest</span> All Rights Reserved.
    </p>
  </div>
</footer>
